
{% extends 'base.html' %}
  
{% block title %}home{% endblock %}
  
{% block content %}
  <style>
    p{
        text-align: center;
        padding-top: 5%;
        color: "blue";
    }
  </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <body>
        <div class='div' >
            
            <p>Kindly Visit Once To Check The References !!!</p>
                <a class="button" style="text-decoration: none; color: aliceblue;" href="/view">Browse Courses</a> 
        </div>
        
    </body>

{% endblock %}