//myapp/templates/login.html
{% extends 'base.html' %}
  
{% block title %}Login{% endblock %}
  
{% block content %}

  <h1>Login</h1> {{ msg }}
<style>
  h1{
    text-align: center;
    padding-top: 5%;
  }
    form {
    width: 300px;
    padding-top: 10px;
    margin: auto;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <div class="container">
      <div class="vertical-center">
        <button type="submit" class="btn btn-primary ">Login</button>
      </div>
      </div>
    
  </form>

{% endblock %}